$colortest: #fff ; /*Пример обьявления переменной*/
.p-0{
	padding: 0px;
}
header{
	background-color: #ccc;
	text-align: center;
	height: 20vh;
	color: #fff;
	font-size: 32px;
	margin-bottom: 25px;

	nav{
		padding: 0px;
		margin: 0px;
		text-shadow: 1px 1px 3px #000;
		

		ul{
			
			padding: 0px;
			margin: 0px;
			text-align: center;

			li{
				display: inline-block;
				padding: 20px 0px;
				font-size: 16px;
			}
			li:hover{
				color: #000;
				padding: 0px;
			}
		}
	}

}
.content{
	background-color: $colortest;
	text-align: center;
	height: 70vh;
	color: #000;
	font-size: 32px;
	font-weight: 100;
	align-items: center;

	.imgAvatar{
		img{
			width: 100%;
			height: auto;
		}
	}

}
.footer{
	background-color: #3c763d;
	/*height: 10vh;*/
	text-align: center;
	color: #fff;
	font-size: 32px;
	font-weight: 100;
}

	
